.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___block {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-width: 300px;
  text-align: center;

  background-color: #ffdfa7;
  border: 5px solid #ca9650;
  width: 100%;
  font-family: cursive;
  color: #ba0303;
  font-weight: 700;
  font-size: 18px;

  margin-top: 20px;
}
.fighter-preview___block p + p {
  margin-top: 10px;
}
.fighter-preview___block:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fighter-preview___img {
  align-self: center;
  max-height: 300px;
}
